.forecast-detail {
  text-align: center;
  width: 500px;
  margin-left: 250px;
  margin-top: 20px;
  border: slategray solid 2px;

}

.forecast-list {
  margin: 10px;
  padding: 0;
  width: 200px;
  background-color: whitesmoke;
  position: fixed;
  height: 100%;
  overflow: auto;
  border: 3px solid gainsboro;
}

.forecast-list > h1 {
  text-align: center;
}

ul {
  list-style: none;
  
}

li {
  
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}



.forecast-list li:hover:not(.active) {
  background-color: steelblue;
  color: white;
}

