.forecast-detail {
  background-color: white;
  text-align: center;
  width: 750px;
  height: 250px;
  margin-left: 250px;
  margin-top: 30px;
  border: teal solid 2px;
  padding: 10px;

}

.forecast-list {
  margin: 10px;
  padding: 0;
  width: 200px;
  background-color: whitesmoke;
  position: fixed;
  height: 50%;
  overflow: auto;
  border: 3px solid gainsboro;
  
}

.forecast-list > h1 {
  text-align: center;
}

ul {
  list-style: none;
  
}

li {
  
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}



.forecast-list li:hover:not(.active) {
  background-color: teal;
  color: white;
}

.chart {
  margin-left: 250px;
  height: 50%;
  width: 50%;
}

